
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root{
  --primary_clr:#203B74;
  --primary_clr_logo:#3e4195;
  --secondary_clr:#4EB162;
  --dark-blue:#1e283f;
  --dark-green:#035642;
  --Algae-Green:#4EB162;
  --Lapis-Blue:#203B74;

  --banner-scolor:#d4894c;

  --clr_1:#c1f6ed;
  --clr_2:#02353c;
  --clr_3:#449342;
  --clr_4:#2eaf7d;
  --clr_5:#3fd0c9;

  --text_clr:rgb(128 130 128);
  --roboto-font:"Roboto Slab", serif;
  --ubuntu-font:"Ubuntu", sans-serif;
}
/*.....................................- preloader -.........................................*/
#preloader{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: white;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  .logo-div{
    width: 250px;
    position: relative;
    overflow: hidden;
    img{
      z-index: 100;
      position: relative;
    }
  }
  .logo-div::before{
    content: '';
    background: linear-gradient(90deg, var(--Lapis-Blue), var(--Algae-Green));
    position: absolute;
    width: 200%;
    height: 100%;
    right: 0;
    top: 0;
    z-index: 99;
    animation: gradient 5s ease infinite;
  }
}
#preloader.hide{
  animation: preloader 0.8s linear both;
  .logo-div{
	        animation: slide-out-fwd-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  }
}
@keyframes gradient {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(50%);
	}
	100% {
		transform: translateX(0);
	}
}
@keyframes slide-out-fwd-center {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  99% {
    transform: scale(6.5);
    opacity: 0;
  }
  100%{
    display: none;
  }
}
@keyframes preloader {
  0%{
    opacity: 1;
  }
  99%{
    opacity: 0;
  }
  100%{
    display: none;
  }
}
/*.....................................- preloader END -.........................................*/



/*.....................................- common styles -.........................................*/
html{
    width: 100%;
  overflow-x: hidden;
*{
  font-family: var(--ubuntu-font);
}
}
body{
  scroll-behavior: smooth;
  width: 100%;
  position: relative;
  overflow-x: hidden;
  user-select: none;
}
.section-1,.section-2,.section-3,.section-4,.section-5,.section-6,.section-7,.section-8{
  width: 100%;
  padding: 80px 0;
  position: relative;
  z-index: 1;
  background-color: white;
}
.title{
  color: var(--primary_clr);
}
.text{
  color: rgb(128 130 128);
}
.fw-600{
  font-weight: 600;
}

.title-row{
  justify-content: center;
}
.title-row .h2{
  color: var(--primary_clr);
  width: auto;
  font-size: 40px;
  font-weight: bolder;
  padding-bottom: 30px;
  position: relative;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (max-width:765px) {
  .title-row .h2{
    font-size: 30px;
    text-align: center;
  }
  .hide-on-mobile{
    display: none !important;
  }
}
@media screen and (min-width:765px){
  .hide-on-lap{
    display: none !important;
  }
}
.title-row .h2 .img-abs{
  position: absolute;
  width: 35px;
  top: -13px;
  right: 5px;
  z-index: -1;
  -webkit-animation: rotate-center 6s linear infinite both;
  animation: rotate-center 6s linear infinite both;
}
  
.shape-bg{
  visibility: hidden;
  position: absolute;
  width: 400px;
  top: 140vh;
  opacity: 60%;
  right: -200px;
  z-index: -1;
  -webkit-animation: rotate-center 50s linear infinite both;
  animation: rotate-center 50s linear infinite both;
  opacity: 60%;
}
}
/*-------------------------------------   shape animations ------------------------------------*/
 @-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/**
 * ----------------------------------------
 * animation shadow-drop-center
 * ----------------------------------------
 */
 @-webkit-keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
@keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}



/**
 ----------------------------------------
 animation slide-fwd-center
 ----------------------------------------
 */
 @-webkit-keyframes slide-fwd-center {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  100% {
    -webkit-transform: translateZ(160px);
            transform: translateZ(160px);
  }
}
@keyframes slide-fwd-center {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  100% {
    -webkit-transform: translateZ(160px);
            transform: translateZ(160px);
  }
}

/* animation left to right */
@keyframes green-anime {
  0%{
    transform: translateX(0);
  }
  50%{
    transform: translateX(10px);
  }
  100%{
    transform: translateX(0);
  }
}
/* animation right to left */
@keyframes blue-anime {
  0%{
    transform: translate(0, 0);
  }
  50%{
    transform: translate(-10px, -10px);
  }
  100%{
    transform: translate(0, 0);
  }
}


@keyframes shape-anime {/* shape animation header banner */
  0%{
    opacity: 50%;
  }
  50%{
    opacity: 100%;
  }
  100%{
    opacity: 50%;
  }
}

/**
 * ----------------------------------------
 * banner images slide animation
 * ----------------------------------------
 */
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}



/*----------------------------------------  popup animation  ---------------------------------*/
 @-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}


  /*.....................................- header -.........................................*/
  

html{


  header{
    display: flex;
    height: fit-content;
    padding: 150px 0;
    position: relative;
    align-items: center;
    width: 100%;
    overflow: hidden;
  }
  @media screen and (max-width:700px) {
    header{
      height: auto;
      justify-content: center;
      display: flex;
      text-align: center;
      overflow: visible;
    }
  }
  
  header{
    .navbar-collapse{
      justify-content: flex-end;
    }
    
    .navbar .nav-link{/*navbar*/
      color: var(--primary_clr);
      font-size:15px;
      font-weight:900;
      letter-spacing: 1px;
      position: relative;
    }
    .navbar .nav-link::before{
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 0%;
      background-color: var(--secondary_clr);
      transform: skewX(352deg);
      border-radius: 3px;
      transition: 0.4s;
      z-index: -1;
    }
    .navbar .nav-link:hover{
      color: white;
    }
    .navbar .nav-link:hover::before{
      height: 100%;
    }
    .navbar ul{
      justify-content: space-around;
      width: 60%;
    }
     
    
    .navbar{
      width: 100%;
      transition: 0.5s;
      z-index: 995;
      position: absolute;
      top: 0;
    }
    .navbar-brand{
      width: 150px;
    }
    .navbar .img-1{
      transition: 0.5s;
    }
    .navbar .img-2{
      display: block;
      opacity: 1;
    }

    .navbar .experience-div{  /* 10+ years experience */
      color: #58558b;
      font-size: 30px;
      line-height: 13px;
      font-weight: 900;
      letter-spacing: -4px;
      flex-direction: column;
      margin-left: 8px;
      padding-left: 5px;
      position: relative;
      h2{
        font-size: 35px;
        margin: 0;
        font-weight: 900;
        /* background: linear-gradient(125deg, #f2db66, #d8c018); */
        background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #b98922 30%, #e7b84c 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #c99113 62.5%, #a97c17 100%);
        /* background: url(../img/other/golden-bg.png); */
        background-clip: text;
        color: transparent;
      }
      span{
        font-size: 10px;
        padding-left: 8px;
        margin-top: -8px;
        letter-spacing: 1px;
        text-align: left;
        background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #b98922 30%, #e7b84c 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #c99113 62.5%, #a97c17 100%);
        background-clip: text;
        color: transparent;
      }
    }.navbar .experience-div::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      height: 40px;
      margin: auto;
      width: 2px;
      background-color: var(--Lapis-Blue);}

    .navbar.scrolled{
      top: 0;
      position: fixed;
      background-color: white;
      color: blue !important;
      box-shadow: 0 4px 5px rgba(60,72,82,.25);
      width: 100%;
    
    }
    .navbar.scrolled .img-2{
      display: none;
      opacity: 0;
      transition: 0.5s;
    }

    .navbar .navbar-toggler{
      border-color: rgba(255, 255, 255, 0.696) !important;
    }
    .navbar .navbar-toggler {
      
      &:hover {
        text-decoration: none;
      }
      &:focus {
        text-decoration: none;
        outline: 0;
        box-shadow: none !important;
      }
    }
    .navbar.scrolled .navbar-toggler{
      .navbar-toggler-icon{
        filter:none;
      }
    }
    @media screen and (max-width:992px) {
      .navbar-nav li{
        text-align: left;
      }
    }


    .navbar ul.dropdown-menu{/*dropdown menu */
      width: 400px;
      border-radius: 10px 0 0 10px;
      padding: 20px 0 20px 30px;
      list-style-type: decimal;
      border: 0;
      transform: translateX(-100%);
      li{
        height: 50px;
        border-radius: 8px;
        margin: 5px 0;
        padding: 0;
        overflow: hidden;
      }
      li::marker{
        content: '';
      }
      .dropdown-item{
        height: 100%;
        white-space: normal;
        display: -webkit-box;
        -webkit-box-orient: vertical;
           overflow: hidden;
        -webkit-line-clamp: 2;
        font-size: 14px;
        background-color: #e0f3e4;
        transition: 0.3s;
      }
    }
    .dropdown-menu .img-div{
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      transform: translateX(100%);
      z-index: -1;
      background-color: white;
      background-position: center;
      padding: 10px;
      border-radius: 0 10px 10px 0;
      .hide{
        display: none;
      }
      img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 10px;
      }
    }
    .dropdown-menu::after{
      content: '';
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
      width: 15px;
      height: 15px;
      top: 0;
      transform: translate(100%,-90%);
      right: 0;
      position: absolute;
      background-color: white;
    }
    .dropdown-menu .col-md-6{
      border: 0.5px solid rgb(0 0 0 / 22%);
      padding: 0;
    }
    .dropdown-menu .col-md-6 a{
      color: rgba(0, 0, 0, 0.685);
    }
    .dropdown-menu .col-md-6 a:hover{
      color: white;
      background: #3b3d8e;
    }
    .dropdown-menu .row{
      width: 350px;
      transform: translateX(10px);
    }
    @media screen and (min-width:992px) {
      .dropdown-menu{
        transform: translateX(-118px);
      }
    }

  }
  .navbar .navbar-brand img{/*navbar*/
    height: 50px;
    transition: 0.4s;
  }
  .navbar.scrolled .navbar-brand img{
    height: 50px;
  }

  @media screen and (min-width:993px) {
    .hide_on_lg{
      display: none !important;
    }

  }
    .header-banner-div{/* ....................... header banner ...................*/
      height: 100%;
      .col-md-6{
        display: flex;
        align-items: center;
      }
      .cnt-div{/* --text part */
        h2{
          font-family: var(--roboto-font);
          font-weight: 900;
          font-size: 3rem;
          color: var(--dark-blue);
          font-style: italic;
        }
        h5{
          font-weight: bold;
        }
        .header-icons-div{/* icon cards */
          padding: 10px 0;
          width: 115%;
          .card{
            flex-direction: row;
            border: 0;
            .img-div{
              height: 38px;
              margin-top: 20px;
            }
            .card-body{
              padding-left: 5px;
            }
            h4,p{
              font-weight: bold;
              color: var(--dark-blue);
            }
          }
          .hr-div{
            width: 3px;
            height: 50%;
            background: #1e283fba;
            margin: auto;
            border-radius: 10px;
          }
        }
        .enq-btn{ /* enquire button */
          padding: 10px;
          background: #ffffff;
          color: var(--dark-green);
          border-radius: 10px;
          border: 2px solid;
          width: 150px;
          font-size: large;
          margin-top: 10px;
          transition: 0.4s;
          font-weight: 600;
          position: relative;

          .marquee {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            overflow: hidden;
            pointer-events: none;
            height: 100%;
          }
          .marquee__inner {
            width: fit-content;
            display: flex;
            position: relative;
            --offset: 1rem;
            --move-initial: calc(-25% + var(--offset));
            --move-final: calc(-50% + var(--offset));
            transform: translate3d(var(--move-initial), 0, 0);
            animation: marquee 1s linear infinite;
            animation-play-state: paused;
            opacity: 0;
            height: 100%;
          }
          .marquee span {
            text-align: center;
            white-space: nowrap;
            font-style: italic;
            padding: 1.5rem 0.5rem;
            display: flex;
            align-items: center;
            height: 100%;
          }
        }.enq-btn:hover{
          color: white;
          background: var(--dark-green);
          .marquee__inner {
            animation-play-state: running;
            opacity: 1;
            transition-duration: 0.4s;
          }
        }.enq-btn:hover > span {
          opacity: 0;
        }
      }
      .bnr-img-prt .img-div{/* image part */
        display: flex;
        justify-content: center;
        margin: auto;
        position: relative;
        height: 400px;
        width: 80%;
        .col-6{
           transform: skewX(342deg); 
          padding: 5px;
          .card{
            padding: 20px 20px 0 0;
            overflow: hidden;
            height: 200px;
            display: flex;
            justify-content: flex-end;
            border: 0;
            border-radius: 10px;
            .img{
              height: 95%;
              width: 100%;
              object-fit: contain;
              object-position: bottom;
              transform: skewX(20deg);
              z-index: 2;
            }
            .shape{
              position: absolute;
              z-index: 0;
            }
          }
        }
        .col-6:nth-child(1) .card{
          background: linear-gradient(45deg, rgb(68 178 108), rgb(15 145 63));
          .shape{
            height: 100%;
            bottom: 0;
            left: 0;
            transform: translate(-10% , 20%);
            opacity: 0.8;
          }
        }
        .col-6:nth-child(2) .card{
          background: linear-gradient(45deg, rgb(48, 132, 165), rgb(6, 79, 108));
          .shape{
            height: 100%;
            top: 0;
            right: 0;
            opacity: 0.8;
          }
        }
        .col-6:nth-child(3) .card{
          background: linear-gradient(45deg, rgb(48, 132, 165), rgb(6, 79, 108));
          .shape{
            height: 100%;
            top: 0;
            right: 0;
            opacity: 0.8;
          }
        }
        .col-6:nth-child(4) .card{
          background: linear-gradient(45deg, rgb(68 178 108), rgb(15 145 63));
          .shape{
            height: 20%;
            width: 100%;
            top: 0;
            bottom: 0;
            margin: auto;
            right: 0;
            opacity: 0.8;
          }
        }
      }
      
    }
    .header-banner-div.show{
      .img-div .col-6:nth-child(1) .card,.img-div .col-6:nth-child(2) .card{
        animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation-delay: 0.2s;
      }
      .img-div .col-6:nth-child(3) .card,.img-div .col-6:nth-child(4) .card{
        animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      }
    }
    @media screen and (max-width:765px) {
      .header-banner-div{
        .banner-row{
          flex-direction: column-reverse;
          gap: 20px;
        }
        
      }
    .header-banner-div .row .ol-md-6 img{
      height: 300px !important;
    }
    }
    @media screen and (max-width:992px) {
      .header-banner-div{
        .cnt-div{
          .header-icons-div{/* icon cards */
            padding: 10px 0;
            width: 100%;
            .card{
              width: 33%;
              text-align: center;
              flex-direction: column;
              border: 0;
              .img-div{
                height: 38px;
                margin-top: 20px;
              }
              .card-body{
                padding: 0;
              }
              h4,p{
                font-weight: bold;
                color: var(--dark-blue);
              }
              p{
                font-size: 12px;
              }
            }
            .hr-div{
              width: 3px;
              height: 50%;
              background: #1e283fba;
              margin: auto;
              border-radius: 10px;
            }
          }
        }
      }
    }
  }
               /* ............. navbar in mobile ..................... */
               @media screen and (max-width:765px) {
                html header{
                  width: 100%;
                  overflow-x: hidden;
                  padding-top: 100px;
                }
                body{
                  width: 100%;
                  overflow-x: hidden;
                }
                html .header-banner-div .bnr-img-prt .img-div{
                  height: fit-content;
                  .col-6 .card{
                    height: 150px;
                  }
                }
                header .navbar .navbar-brand img{
                  height: 30px;
                  margin: auto;
                }
                header .navbar.scrolled .navbar-brand img{
                  height: 30px;
                  margin: auto;
                }
                header .navbar{
                  .navbar-brand img{
                    height: 30px;
                  }
                  .crs-menu-btn{ /* navbar course button */
                    color: white;
                    border: 0;
                    background: var(--dark-green);
                    border-radius: 5px;
                    padding: 5px 10px;
                  }
                }
                .crs-menu-div{/* course menu fixed */
                  position: fixed;
                  z-index: 1001;
                  width: 80%;
                  height: 100vh;
                  top: 0;
                  right: 0;
                  background-color: white;
                  transition: 1s;
                  transform: translateX(100%);
                  opacity: 0;
                  overflow-y: scroll;

                  .close-btn-div{
                    padding: 10px 20px;
                    display: flex;
                    justify-content: space-between;
                    box-shadow: 0 4px 5px rgba(60,72,82,.25);
                    position: fixed;
                    top: 0;
                    width: 100%;
                    h2{
                      color: var(--dark-blue);
                      font-weight: bold;
                    }
                    button{
                      background: white;
                      border: 0;
                      font-size: larger;
                    }
                  }
                  .crs-menus{
                    padding-top: 80px;
                    button{
                      background: white;
                      border: 0;
                      display: flex;
                      align-items: center;
                      justify-content: space-between;
                      width: 100%;
                      padding: 10px 20px;

                      .name{
                        display: flex;
                        align-items: center;
                        color: var(--dark-blue);
                        font-size: 18px;
                        font-weight: 600;
                        text-transform: uppercase;
                        span{
                          display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
                        }
                      }
                      img{
                        width: 35px;
                        padding-right: 5px;
                      }
                    }

                    .accordion {
                      cursor: pointer;
                      padding: 18px;
                      width: 100%;
                      border: none;
                      text-align: left;
                      outline: none;
                      font-size: 15px;
                      transition: 0.4s;
                    }
                    .accordion i{
                      transition: 0.4s;
                    }
                    .accordion.active i{
                      transform: rotate(90deg);
                    }
                    
                    
                    
                     .panel {
                      
                      background-color: white;
                      max-height: 0;
                      overflow: hidden;
                      transition: max-height 1s ease-out;
                      transition: 1s;
                      display: flex;
                      align-items: flex-end;
                      flex-direction: column;
                      .crs{
                        width: 90%;
                        display: flex;
                        text-decoration: none;
                        color: black;
                        background-color: var(--dark-blue);
                        color: white;
                        margin: 10px 0;
                        padding: 10px;
                      }
                    }
                     .panel.show{
                      max-height: fit-content !important;
                    }

                  }

                }
                .crs-menu-div.show{
                  transform: translateX(0);
                  opacity: 1;
                }
               }
               @media screen and (min-width:765px){
               
                  .crs-menu-div{/* course menu fixed */
                   display: none;
                  }
                
               }
               /* ............. navbar in mobile END..................... */



 /*.................................... ................- header END -..............................................................*/


/*.....................................- section-1 about -.........................................*/
.section-1{
  .col-md-6{
    display: flex;
    align-items: center;
  }
  .col-md-6{
    .img{
      width: 100%;
      z-index: 3;
      border-radius: 10px;
      position: relative;
    }
  }
  .ab-title{
    font-weight: 600;
    color: var(--primary_clr);
  }
  .img-div{
    position: relative;
    border-radius: 10px;
    z-index: 1;
    width: 80%;
    margin: auto;
  }
  .img-div::after,.img-div::before{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    content: '';
    height: 100%;
    border-radius: 10px;
  }.img-div::after{
    top: -15px;
    width: 90%;
    z-index: 1;
    background-color: var(--primary_clr);
  }.img-div::before{
    background-color: var(--secondary_clr);
    top: -30px;
    width: 80%;
    z-index: 0;
  }
  .text{
    z-index: 1;
  }
  .btn{
    background: var(--primary_clr);
    border-radius: 0;
    color: white;
  }
  @media screen and (max-width:1000px) {
    .row{
      padding: 0 10%;
    }
  }
  @media screen and (max-width:765px) {
    .hide_on_sm{
      display: none;
    }
    .text{
      padding-top: 20px;
    }
  }
  @media screen and (min-width:990px) {
    .col-md-6:nth-child(1){
      display: flex;
      justify-content: flex-end;
    }
  }
}


.section-1{
  .second-row{
    justify-content: center;
    .col-6{
      padding: 10px;
      .card{
        padding: 10px;
        border: 1px solid #1e283f40;
     text-align: center;
     overflow: hidden;
    display: flex;
     justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 4px 1px rgba(33,42,57,.102);
      }
      img{
        width: 80%;
      }
    }
  }
  .second-row .title{
    text-align: center;
  }
  
}
/*.......................................................- section-1 about END -...........................................................*/


/*.....................................- section-2 quality -.........................................*/
.section-2{

  .col-md-6{
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    transform: skewX(350deg);
  }
  .col-md-6:nth-child(even) .card{
    background-color: var(--secondary_clr);
  }
  .col-md-6:nth-child(odd) .card{
    background-color: var(--primary_clr);
  }
  .card{
    border: 0;
    border-radius: 10px;
    flex-direction: row;
    gap: 15px;
    padding: 60px 20px;
    height: 100%;
    justify-content: center;
    width: 100%;
    opacity: 0;
    transition: 0.5s;
    .icon-div,.cnt-div{
      transform: skewX(10deg);
    }
  }
  .card:hover{
    background-position: right;
    cursor: pointer;
  }
  .card.reveal{
    opacity: 1;
    -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  .img-div{
    display: flex;
    align-items: center;
  }
  .img{
    width: 70px;
  }
  .h3{
    font-size: 30px;
    color: white;
    font-weight: bold;
  }
  .h4{
    font-weight: 500;
    font-size: 15px;
    color:  #cdd9dfe6;
  }

  @media screen and (max-width:705px) {
    .card{
      width: 300px;
    }
  }  
}
@media screen and (max-width:700px) {
  .section-2{
    padding-top: 0;
  }
}
/*..................................................................- section-2 quality END -...........................................................*/


/*.....................................- section-3 course -.........................................*/
@keyframes slide {
  from {
      transform: translateX(0);
  }

  to {
      transform: translateX(-100%);
  }
}
/* Setting the Animation using Keyframes */
@keyframes scroll-left {
  0% {
      transform: translateX(0%);
  }
  100% {
      transform: translateX(-100%);
  }
}

@keyframes scroll-right {
  0% {
      transform: translateX(-100%);
  }
  100% {
      transform: translateX(0%);
  }
}


.section-3{/* large devices */

.scrolling-text-container {/* scrolling heading */
    background-color: #eff5ff;
    background: linear-gradient(45deg, var(--Algae-Green),var(--Lapis-Blue));
    border-radius: 4px;
    overflow: hidden;
    padding: 50px 0;
}
.scrolling-text-inner {
    display: flex;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 0;
}
.scrolling-text {
    display: flex;
}
.scrolling-text-item {
    padding: 0 30px;
    color: white;
    font-style: italic;
    font-size: 3rem;
}
.scrolling-text-inner > div {
    animation: var(--direction) var(--marquee-speed) linear infinite;
}
.scrolling-text-container:hover{
  cursor: pointer;
}
.scrolling-text-container:hover .scrolling-text-inner > div {
    animation-play-state: paused;
}
/* scrolling heading  end*/
  
.col-md-6.col-lg-6{
  margin-bottom: 50px;
}
 
  .hide{
    display: none;
  }
  .card{
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0px 0px 7px 0px rgb(0 0 0 / 27%);
    transform: translateY(50px);
    opacity: 0;
    transition: 1s;
    height: 100%;
    background: #f7f6f2;
    border: 0;
    border-radius: 20px;
    .crs-count{
      padding: 1px 7px;
    border-radius: 20px;
    background: linear-gradient(45deg, #456bbd, #1c3964);
    width: fit-content;
    color: white;
    }
    .img-div{
      height: 150px;
      overflow: hidden;
      display: none;
    }
    .card-body{
      position: relative;
      padding-top: 40px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .card-title{
      font-weight: 600;
      text-transform: uppercase;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      -webkit-line-clamp: 2;
      background: linear-gradient(45deg, #47b970, #215b7b);
      background-clip: text;
      color: transparent;
      font-size: 1.5rem;
      margin-bottom: 0;
    }
    ul{
      list-style-type: '✔';
      color: var(--Algae-Green);
      margin: 30px 0;
      li span{
        color: grey;
        padding-left: 5px;
      }
    }


    .duration{/* job assured program in large */
      box-shadow: 0 0 8px 3px rgb(33 42 57 / 26%);
      position: absolute;
      display: flex;
      align-items: center;
      background: white;
      padding: 5px 20px 5px 5px;
      border-radius: 5px;
      top: -18px;
      font-weight: 600;
      font-size: 12px;
      color: #3c4852;
      width: 265px;
      margin: auto;
      left: 0;
      right: 0;
      height: 50px;
      display: none;
      .img,.txt-part{
        width: 50%;
      }
      .txt-part{
        padding-left: 20px;
      }
    .img{
     height: 90%;
     text-align: center;
     position: relative;
    }
    .img::after{
      content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 30px;
    margin: auto;
    width: 1px;
    background-color: var(--primary_clr);
    }
    }

    .tools{
      padding: 20px 0;
      .tool{
        height: 25px;
      }
    }

    
    .rating{
      display: flex;
      align-items: center;
      font-weight: bold;
      i{
        color: #ffbd00;
      }
    }
    .buttons-div{
      display: flex;
      justify-content: space-between;
    }
    .more,.apply{
      width: 100%;
      border-radius: 25px;
      padding: 7px 0;
    }
    .apply{
      border: 0;
      background: var(--Algae-Green);
      color: white;
      margin-bottom: 10px;
    }
    .more{
      background: white;
    border: 2px solid var(--Lapis-Blue);
    color: var(--Lapis-Blue);
    transition: 0.4s;
    }
    .more:hover{
      color: white;
      background: var(--Lapis-Blue);
    }
  }
  .crs .col-lg-6.reveal .card{
    transform: translateY(0);
    opacity: 1;
    transition: 1s;
  }
  .crs.hide .col-lg-6.reveal .card{
    transform: translateY(50px);
    opacity: 0;
    transition: 1s;
  }
}
@media screen and (min-width:992px) {
  .section-3{
    .card{
      width: 80%;
      margin: auto;
    }
  }
}
@media screen and (max-width:992px) {
  .section-3{
    .card{
      width: 90%;
      margin: auto;
    }
  }
}
/*..................................................................- section - 3 course END -...........................................................*/


/*.....................................- section - 4 why choose us -.........................................*/
.section-4{
  .scrolling-text-container {/* scrolling heading */
    background-color: #eff5ff;
    background: linear-gradient(45deg, var(--Algae-Green),var(--Lapis-Blue));
    border-radius: 4px;
    overflow: hidden;
    padding: 50px 0;
    margin-bottom: 30px;
  }
  .scrolling-text-inner {
    display: flex;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 0;
  }
  .scrolling-text {
    display: flex;
  }
  .scrolling-text-item {
    padding: 0 50px;
    color: white;
    font-style: italic;
    font-size: 3rem;
  }
  .scrolling-text-inner > div {
    animation: var(--direction) var(--marquee-speed) linear infinite;
  }
  .scrolling-text-container:hover{
  cursor: pointer;
  }
  .scrolling-text-container:hover .scrolling-text-inner > div {
    animation-play-state: paused;
  }
  /* scrolling heading  end*/

  .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #4040a4;
    color: white;
  }
  
  .accordion:after {
    content: '\002B';
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .panel {
    padding: 10px 18px 0;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
}
/*..................................................................- section - 4 why choose us END -...........................................................*/


/*.....................................- section-5 testimonial -.........................................*/
.section-5{
  .scrolling-text-container {/* scrolling heading */
    background-color: #eff5ff;
    background: linear-gradient(45deg, var(--Algae-Green),var(--Lapis-Blue));
    border-radius: 4px;
    overflow: hidden;
    padding: 50px 0;
    margin-bottom: 30px;
  }
  .scrolling-text-inner {
    display: flex;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 0;
  }
  .scrolling-text {
    display: flex;
  }
  .scrolling-text-item {
    padding: 0 30px;
    color: white;
    font-style: italic;
    font-size: 3rem;
  }
  .scrolling-text-inner > div {
    animation: var(--direction) var(--marquee-speed) linear infinite;
  }
  .scrolling-text-container:hover{
  cursor: pointer;
  }
  .scrolling-text-container:hover .scrolling-text-inner > div {
    animation-play-state: paused;
  }
  /* scrolling heading  end*/


  .slider-row{/* slider part */

    .swiper-slide{
      display: flex;
      justify-content: center;
    }

    .card .f-prt{
      padding: 1rem 1rem 0;
      display: flex;
      gap: 5px;
    }
    .card .img-div{
      width: 35px;
      height: 35px;
      overflow: hidden;
      border-radius: 50%;
    }
    .card .card-title{
      margin: 0;
    }

    .stars{
      padding: 0;
      display: flex;
    }
    .img-star{
      width: 15px;
    }

  }
  .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic{
    opacity: 0;
  }
}
/*..................................................................- section-5 testimonial END -...........................................................*/


/*.....................................- section-6 -.........................................*/
/* bg-clr animation */
 @-webkit-keyframes bg-pan-left {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes bg-pan-left {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.section-6{
  width: 100%;
  height: 300px;
  background: linear-gradient(to right, #4c49cf, #2af1a8);
  -webkit-animation: bg-pan-left 8s ease-in-out infinite both;
	        animation: bg-pan-left 8s ease-in-out infinite both;
}
/*..................................................................- section-6 END -...........................................................*/

/*.....................................- section-7 -.........................................*/
.section-7{
  background: #c0c0c038;

  
.scrolling-text-container {/* scrolling heading */
  background-color: #eff5ff;
  background: linear-gradient(45deg, var(--Algae-Green),var(--Lapis-Blue));
  border-radius: 4px;
  overflow: hidden;
  padding: 50px 0;
}
.scrolling-text-inner {
  display: flex;
  white-space: nowrap;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 0;
}
.scrolling-text {
  display: flex;
}
.scrolling-text-item {
  padding: 0 30px;
  color: white;
  font-style: italic;
  font-size: 3rem;
}
.scrolling-text-inner > div {
  animation: var(--direction) var(--marquee-speed) linear infinite;
}
.scrolling-text-container:hover{
cursor: pointer;
}
.scrolling-text-container:hover .scrolling-text-inner > div {
  animation-play-state: paused;
}
/* scrolling heading  end*/

  .card-row{
    justify-content: center;
  }
  .col-md-6{
    justify-content: center;
    display: flex;
    margin-bottom: 30px;
  }
  .card{
    width: 300px;
    text-align: center;
    border: 0;
    cursor: pointer;
    transition: 0.4s;
  }
  .card:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
  .card.reveal{
    opacity: 1;
    -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
    .card img{
      width: 50px;
    }
    .card .card-title h4{
      font-weight: bold;
      background: linear-gradient(112deg, #1e587b, #47b970);
      background-clip: text;
      color: transparent;
    }
    .card .text{
      font-size: 12px;
    }
}
/*..................................................................- section-7 END -...........................................................*/

/*.....................................- section-9 popup -.........................................*/
.section-9{
  width: 100%;
  height: 100vh;
  top: 0;
  position: fixed;
  z-index: 100000;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.648);
  opacity: 0;
  transition: 0.4s;
}
.section-9.show{
  display: flex;
  opacity: 1;
}
.section-9{
  .card{
    width: 70%;
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: 0.5s;
    overflow: hidden;
    border: 0;
  }
  .row{
    background: white;
  }
  .txt-part{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: var(--dark-green);
    padding: 10px 0;
  }
  .title{
    color: white;
    font-weight: 600;
  }
  input{
    width: 80%;
    border: 0;
    padding: 5px 10px;

  }
  .sub-btn{
    border-radius: 5px;
    padding: 5px 20px;
    background: var(--dark-green);
    color: #ffffff;
    font-weight: 600;
    border: 3px solid;;
  }

  .img-part{
    text-align: center;
    
  }
  img{
    width: 80%;
  }

  .close-btn{
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 30px;
  }
  @media screen and (max-width:750px){
    .row{
      flex-direction: column-reverse;
    }
    .card{
      width: 80%;
    }
    .txt-part{
      padding: 20px 0;
    }
  }
}
.section-9.show{
  .card{
    transform: translateY(0);
    opacity: 1;
  }
}
/*..................................................................- section-9 popup END -...........................................................*/

/*.....................................- section-10 course popup form -.........................................*/
.section-10.crs-popup{
  width: 100%;
  height: 100vh;
  top: 0;
  position: fixed;
  z-index: 100000;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.648);
  opacity: 0;
  transition: 0.4s;
  .card{
    width: 70%;
    position: relative;
    transition: 0.5s;
    overflow: hidden;
    padding: 30px 20px;
  }
  .img-div{
    width: 80%;
    margin: auto;
  }
  .form-col{
    display: flex;
  }
  form{/* form */
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    margin: auto;
  }
  @media screen and (min-width:1200px) {
    form{
      width: 90%;
    }
  }
  input[type="text"],input[type="email"],input[type="tel"],select{
    height: 50px;
  }
  select{
    background: white;
    appearance: none;
    -webkit-appearance: none;
    background-image:
      linear-gradient(45deg, transparent 50%, blue 50%),
      linear-gradient(135deg, blue 50%, transparent 50%),
      linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255));
    background-position:
      calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px),
      100% 0;
    background-size:
      5px 5px,
      5px 5px,
      2.5em 2.5em;
    background-repeat: no-repeat;
  }
  input[type="submit"]{
    width: 200px;
    padding: 10px 0;
    margin: auto;
    background: #45c345;
    border: 0;
    color: white;
    border-radius: 5px;
  }
}
.section-10.crs-popup.show{
  opacity: 1;
  display: flex;
}

/*..................................................................- section-10 course popup form END -...........................................................*/

/*.....................................- footer -.........................................*/
footer a{
  text-decoration: none;
}
footer .quick-links a{/*footer quick links*/
  font-size: 15px;
  text-align: left;
  width: fit-content;
  text-transform: lowercase;
}
footer .quick-links li{
  display: flex;
  width: fit-content;
}
footer .quick-links{
  width: fit-content;
}
footer .quick-link-div{
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .contact{/*footer contact section*/
  .ttl{
    color: white;
    font-weight: 600;
    font-size: 15px;
  }
  a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
  }
  i{
    color: rgba(255, 255, 255, 0.7);
  }
  p{
    font-size: 14px;
  }
}


/* whatsapp and call buttons fixed */
.whats-call-div{
  position: fixed;
  bottom: 0;
  background: white;
  display: flex;
  z-index: 995;
  width: 100%;
  justify-content: center;
  gap: 10px;
  padding: 20px 0;
  .whatsapp-btn,.call-btn{
    text-decoration: none;
    padding:  10px;
    color: white;
    width: 200px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    i{
      font-size: x-large;
    }
  }
  @media screen and (max-width:414px) {
    .whatsapp-btn,.call-bt{
      width: 170px;
    }
  }
  .whatsapp-btn{
    background: var(--Algae-Green);
  }
  .call-btn{
    background: var(--Lapis-Blue);
  }
}

/* instagram slider */
footer .carousel-ite img{
  width: 100%;
}
/*.....................................- paste_here -.........................................*/
/*..................................................................- paste_here END -...........................................................*/